

body {
	background-color: #226666;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-family: Droid Sans;
	color: white;
	text-align: center;
	height: 100%;
}

html {
	height: 100%;
}
.login-window:link, .login-window:visited, .login-window:hover, .login-window:active {
	text-decoration: none;
	color: white;
}

h1 {
	font-size: 70px;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 30px;
}
.navbar {
	background-color: #669999;
}

li {
	text-align: center;
	padding-left: 10px;
	display: inline;
}
li:hover {
	background-color: #0d4d4d;
}

div.entry {
	background-color: #d7e5ff;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.linky:visited {
	color: purple;
}

.linky:active {
	color: black;
}

.linky:link {
	color: black;
}


.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
  color: black;
 
  
}


.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #669999;
  border: 2px solid black;

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
